::-webkit-scrollbar { /*Hides Scroll Bar*/
    display: none;
}

.card {
    --bs-card-border-width: 0px !important;
}

.hero {
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    height: 60vh;
}

.hero img{
    height: 100px;
    width: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
    margin-top: 100px;
    color: aliceblue;
    -webkit-text-stroke: 1px black; 
    /*creates an outline for the text*/
    background-position: center;
    background-size: cover;
}

.line {/*creates a horizontal line for the line class*/
    background-color: rgb(24, 22, 22);
    width: 80vw;
    height: 5px;
    margin: 30px auto;
}

.line-border { /*sandwiches the text between two lines*/
    border-style: solid;
    border-color: rgb(0, 0, 0) transparent ;
    border-width: 2px;
    padding: 5px;
}

blockquote{
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}